

<!DOCTYPE html>
<html>
<head>
<title>Math Tutoring Website - Lessons</title>
</head>
<body>
<h1>Math Tutoring Website - Lessons</h1>
<p>This page contains a list of math lessons. Each lesson is divided into sections, and each section contains a video tutorial, a written explanation, and practice problems.</p>
<ul>
<li><a href="/lessons/lesson1">Lesson 1: Addition</a></li>
<li><a href="/lessons/lesson2">Lesson 2: Subtraction</a></li>
<li><a href="/lessons/lesson3">Lesson 3: Multiplication</a></li>
<li><a href="/lessons/lesson4">Lesson 4: Division</a></li>
</ul>
</body>
</html>


