

<!DOCTYPE html>
<html>
<head>
<title>Math Tutoring Website - Practice Problems</title>
</head>
<body>
<h1>Math Tutoring Website - Practice Problems</h1>
<p>This page contains a list of math practice problems. The problems are organized by difficulty level, and each problem has a multiple-choice answer.</p>
<ul>
<li>What is 2 + 2?</li>
<ul>
<li>(A) 4</li>
<li>(B) 5</li>
<li>(C) 6</li>
<li>(D) 7</li>
</ul>
<li>What is 5 - 3?</li>
<ul>
<li>(A) 1</li>
<li>(B) 2</li>
<li>(C) 3</li>
<li>(D) 4</li>
</ul>
<li>What is 6 * 7?</li>
<ul>
<li>(A) 36</li>
<li>(B) 42</li>
<li>(C) 48</li>
<li>(D) 54</li>
</ul>
<li>What is 12 / 3?</li>
<ul>
<li>(A) 3</li>
<li>(B) 4</li>
<li>(C) 5</li>
<li>(D) 6</li>
</ul>
</ul>
</body>
</html>


