

<!DOCTYPE html>
<html>
<head>
<title>Math Tutoring Website - Resources</title>
</head>
<body>
<h1>Math Tutoring Website - Resources</h1>
<p>This page contains a list of math resources. The resources include math tutorials, worksheets, and quizzes.</p>
<ul>
<li><a href="https://www.khanacademy.org/math">Khan Academy</a></li>
<li><a href="https://www.mathsisfun.com/">Math is Fun</a></li>
<li><a href="https://www.coolmath.com/">Cool Math</a></li>
<li><a href="https://www.mathworksheetcenter.com/">Math Worksheet Center</a></li>
</ul>
</body>
</html>

